*{
  padding: 0px;
  font-family: 'Georgia', serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
background: #F7F6E3; /*same as header*/
  color:  #a1468c;
}

#header {
  width: 100%;
  height: 100vh;
/* background-image: url(images/background.png); -->*/
background-size: cover;
background-position: center;
}

.container {
  padding: 11px 7%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-size: 200%;
  margin-top: 20px;
  margin-left: 0px;
  color:  #a1468c;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  color: #a1468c;
  text-decoration: none;
  font-size: 18px; 
  position: relative;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #73986F;
  position: absolute;
  left: 0;
  bottom: -6px;
}

nav ul li a:hover::after{
  width: 100%;
  transition: .3s;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
  padding-bottom: 110px;
}

.header-text h1 {
  font-size: 50px;
  color: #7364A0;
  margin-top: 20px;
}

.header-text h1 span {
  color: #7364A0;

}

/*------about section-----*/

#about {
  padding: 80px 0;
  color: #a1468c;
}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about-col-1{
  flex-basis: 35%;
}

.about-col-1 img{
  width: 100%;
  border-radius: 3px;
}

.about-col-2{
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  color: #7364A0;
  font-weight: 600;
}

/*------skills experience education section-----*/

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500px;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #73986F;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: .5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

/*------titles-----*/

.tab-contents ul li span {
  text-decoration: none;
  color: #a1468c;
  font-size: 14px;
}

.tab-contents {
 display: none;
 min-height: 160px;
}

.tab-contents.active-tab {
  display: block;
}

/*-----------projects-------*/

#projects {
  padding: 30px 0;
}

.project-link {
  text-decoration: none;
  color: inherit;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.project {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}

.project:hover {
  transform: scale(1.02);
}
/* make smaller */
.project img {
  width: 70%;
  border-radius: 10px 10px 0;
  display: block;
  transition: transform 0.5s;
}

.projects-list div {
  
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.project h3 {
  margin: 15px 0 10px;
  color: #7364A0;
  font-size: 20px;
}

.project-desc {
  font-size: 15px;
  color: #a1468c;
  margin: 0 auto 20px;
  max-width: 90%;
}

.project:hover {
  transform: scale(1.02);
}

.project:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  background: #a1468c;
  border: 1px solid #a1468c;
  padding: 14px 50px;
  border-radius:1px;
  text-decoration: none;
  color: #fff;
  transition: background 0.6s;
}

.btn:hover {
  background: #a1468c;
  transition: .5s;
} 

/*------contact-----*/

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 10px;
}
.contact-left p i {
  color: #a1468c;
  margin-right: 15px;
  font-size: 15px;
}

.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #a1468c;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #a1468c;
  transform: translateY(-5px);
  transition: .5s;
}

.btn.btn2 {
display: inline-block;
}

.contact-right form {
  width: 100%;
}

form input, form textarea {
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  border-radius: 1px;
  border: 0;
  outline: none;
  background: #ffffff;
  border: 2px solid #a1468c;;
  padding: 15px;
  color: #a1468c;
  font-size: 18px;
} 

form .btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: left;
  padding: 15px 0;
  font-weight: 300;
  font-size: 11px;
  margin-bottom: 0%;
  margin-top: 20px;
}
 .copyright i {
  color:#a1468c;
 }

 /*------for small screens-----*/

@media (max-width: 600px) {
  .header-text h1 {
    font-size: 40px;
  }

  .header-text h1 span {
    font-size: 30px;
  }

  .about-col-1 img {
    width: 100%;
  }

  .about-col-2 {
    flex-basis: 100%;
    margin-top: 20px;
  }

  .tab-titles {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .tab-links {
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 16px;
  }
}

#msg {
  color: #a1468c;
  margin-top: -30px;
  display: block;
}