*{
  padding: 0px;
  font-family: 'Georgia', serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
background: #fffffc; 
  color:  #a1468c;
}

#header {
  width: 100%;
  height: 100vh;
background-size: cover;
background-position: center;
}

.container {
  padding: 11px 7%;
}


h1 {
  font-size: 200%;
  margin-top: 20px;
  margin-left: 0px;
  color:  #a1468c;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav p {
  font-size: 22px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 10px;
}

nav ul li a{
  color: #a1468c;
  text-decoration: none;
  font-size: 20px; 
  position: relative;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #73986F;
  position: absolute;
  left: 0;
  bottom: -6px;
}

nav ul li a:hover::after{
  width: 100%;
  transition: .3s;
}

.nav-icons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.nav-icons a {
  color: #a1468c; 
  font-size: 23px;
  transition: color 0.3s;
}

.nav-icons a:hover {
  color: #73986F; 
}

.about-page .about-column-title {
  margin-top: 20px;
  font-size: 36px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

/*------home section-----*/

.about-container {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-left: 5%;
  flex-wrap: wrap;
  margin-top: 130px;
  margin-bottom: 20%;
}

.about-img {
  flex-basis: 30%;
  min-width: 100px;
}

.about-img img {
  width: 85%;
  border-radius: 2px;
}

.about-text {
  flex-basis: 65%;
  min-width: 280px;
  color: #4a2e49;
}

.about-greeting {
  margin-left: 9px;
  font-size: 40px;
  font-weight: bold;
  margin-top: 40px;
  color: #4a2e49;
}

.highlight-name {
  color: #d185ac; 
}


.about-text p {
  font-size: 20px;
  line-height: 1.8;
  margin-top: 0%;
  margin-right: 120px;
  margin-bottom: 20px;
  color: #5e3a5d;
}

.highlight-keyword {
  color: #d185ac;
}

.link-hover {
  color: #d185ac; /* original color */
  text-decoration: none;
  transition: color 0.3s ease;
}

.link-hover:hover {
  color: #73986F; /* color on hover */
}

/*------about-----*/

.about-page {  /* titles */
  padding: 60px 0;
  margin-left: 10%;
  margin-top: 3%;
  font-family: 'Georgia', serif;
  color: #4a2727;
}

.about-columns {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 60px;
  border-top: 1px solid #e4e4e4;
  padding-top: 40px;
}

.about-columns.reverse{
  flex-direction: row-reverse;
  text-align: right; 
  margin-right: 20%;
}

.about-column-title {
  font-size: 50px !important;
  font-weight: normal; 
  flex: 0.5; /*space between title and text */
  margin: 0px;
}

.about-columns.no-border {
  border-top: none;
}

.about-history {
  flex: 3;
}

.role-entry {
  margin-bottom: 30px;
}

.role-entry p { /* paragraphs */
  font-size: 22px;
  color: #6e6e6e;
  line-height: 1.6;
}

.role-entry em { /* headers */
  color:#a1468c;
  font-style: italic;
}


/*-----------projects-------*/

#projects {
  padding: 30px 0;
}

.project-link {
  text-decoration: none;
  color: inherit;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  margin-top: 10px;
}

.project {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: center; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 21%;
}


.project:hover {
  transform: scale(1.02);
}

.project img {
  width: 70%;
  border-radius: 2px;
  display: block;
  object-fit: cover;
  transition: transform 0.5s;
}

.projects-list div {
  
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.project h3 {
  margin: 15px 0 10px;
  color: #a1468c;
  font-size: 20px;
  font-weight: 1;
}

.project h3 {
  margin: 15px 0 10px;
  color: #a1468c;
  font-size: 20px;
  font-weight: 1;
}

.project:hover {
  transform: scale(1.02);
}

.project:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  background: #a1468c;
  border: 1px solid #a1468c;
  padding: 14px 50px;
  border-radius:1px;
  text-decoration: none;
  color: #fff;
  transition: background 0.6s;
}

.btn:hover {
  background: #a1468c;
  transition: .5s;
} 

/*------contact-----*/

#contact .container {
  margin-top: 4%;
  padding: 40px;
}

#contact .sub-title {
  margin-left: 40px;
  font-weight: lighter;
  font-size: 40px;
}

#contact .row {
  margin-left: 40px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 40px;
}


.btn.btn2 {
display: inline-block;
}

.contact-right form {
  width: 100%;
}

#contact p {
  font-size: 19px;
  color: #a1468c; 
  margin-bottom: 0%;
  margin-left: 40px;
}

form input, form textarea {
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  border-radius: 1px;
  border: 0;
  outline: none;
  background: #ffffff;
  border: 2px solid #a1468c;;
  padding: 15px;
  color: #a1468c;
  font-size: 18px;
} 

.contact-links {
  margin-top: 14px;
  font-size: 25px;
}

.contact-links a {
  color: #a1468c;
  text-decoration:line;
  transition: text-decoration 0.3s, color 0.3s;
}

.contact-links a:hover {
  text-decoration: underline;
  color: #73986F;
}

form .btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

 /*------for small screens-----*/

@media (max-width: 600px) {
  .header-text h1 {
    font-size: 40px;
  }

  .header-text h1 span {
    font-size: 30px;
  }

  .about-col-1 img {
    width: 100%;
  }

  .about-col-2 {
    flex-basis: 100%;
    margin-top: 20px;
  }

  .tab-titles {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .tab-links {
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 16px;
  }
}

#msg {
  color: #a1468c;
  margin-top: -30px;
  display: block;
}