*{
    padding: 0px;
    font-family: 'Georgia', serif;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth; 
  }
  
  body {
  background: #fffffc; 
  color:#a1468c;
  font-weight:lighter;
  }
  
  #header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  .container {
    padding: 11px 7%;
  }
  
  
  h1 {
    font-size: 200%;
    margin-top: 20px;
    margin-left: 0px;
    color:  #a1468c;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  nav p {
    font-size: 22px;
  }
  
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
  }
  
  nav ul li a{
    color: #a1468c;
    text-decoration: none;
    font-size: 20px; 
    position: relative;
  }
  
  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #73986F;
    position: absolute;
    left: 0;
    bottom: -6px;
  }
  
  nav ul li a:hover::after{
    width: 100%;
    transition: .3s;
  }
  
  .nav-icons {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  .nav-icons a {
    color: #a1468c; 
    font-size: 27px;
    transition: color 0.3s;
  }
  
  .nav-icons a:hover {
    color: #73986F; 
  }

  /* MAIN PAGE */

  .header {
    text-align: center;
    font-weight: normal;
    font-size: 50px;
    margin-top: 0%;
    margin-left: -5%;
    color: #a1468c;
  }

  img {
    width: 70%;
    margin-left: 13%;
    margin-bottom: 2%;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .info {
    text-align: center;
    font-size: 22px;
    color: #6e6e6e;
    margin-left: -10px;
    margin-bottom: 4%;
    margin-left: 7%;
    margin-right: 12%;
  }
  .about-page {  /* titles */
    padding: 60px 0;
    margin-left: 10%;
    margin-top: 3%;
    font-family: 'Georgia', serif;
    color: #73986F; 
  }
  
  .about-columns {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 2%;
    border-top: 1px solid #e4e4e4;
    padding-top: 40px;
  }
  
  .about-columns.reverse {
    flex-direction: row-reverse;
    text-align: right; 
    margin-right: 17%;
  }
  
  .about-column-title {
    font-size: 70px !important;
    font-weight: normal; 
    flex: 0.5; /*space between title and text */
    margin: 0px;
  }
  
  .about-columns.no-border {
    border-top: none;
  }
  
  .about-history {
    flex: 3;
  }
  
  .role-entry {
    margin-bottom: 30px;
  }
  
  .role-entry p { /* paragraphs */
    font-size: 21px;
    color: #6e6e6e;
    line-height: 1.6;
  }
  
  
  .role-entry-right p { /* paragraphs */
    font-size: 21px;
    color: #6e6e6e;
    line-height: 1.6;
  }
  
  .role-entry em { /* headers */
    color:#a1468c;
    font-style: italic;
    font-size: 26px;
  }
  
  .role-entry-right em { /* headers on the right */
    color:#a1468c;
    font-style: italic;
    font-size: 26px;
  }
  
  .role-entry li { /* bullet points*/
    color:#6e6e6e;;
    font-size: 21px;
    margin-top: 1.5%;
    list-style: disc;
  }
  
  .role-entry-ol em { /* headers on the right */
    color:#a1468c;
    font-style: italic;
    font-size: 26px;
  }

  .role-entry-ol li { /* bullet points*/
    color:#6e6e6e;;
    font-size: 21px;
    margin-top: 1.5%;
    list-style: none;
  }
  
  .role-entry-right li { /* bullet points on right side*/
    color:#4a2727;
    font-size: 19px;
    margin-top: -1%;
    list-style: none;
    margin-bottom: 6%;
  }
  
  .description em {
    color:#6e6e6e;
    font-weight: bold;
    font-size: 21px;
  }


  
  /* images */

  .images {
    display: grid;
    gap: 20px;
    margin-top: 20px;
  }
  
  .images img {
    width: 90%;
    height: auto;
 }

    .images img:hover {
      transform: translateY(-6px);
      box-shadow: 0 30px 60px rgba(27, 4, 37, 0.2);
    }

 

  .images.wireframe {
    grid-template-columns: repeat(3, 1fr);
  }

  .images.prototype {
    margin-top: 6%;
    width: 130%;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    .images.wireframe {
      grid-template-columns: 1fr;
    }

    .images.prototype {
      grid-template-columns: 1fr;
    }
  }
  
  .thanks {
    font-size: 50px;
    color: #a1468c;
    font-weight: lighter;
    text-align: center;
    margin-left: -11%;
    margin-top: 7%;
  }
  
  